.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
}

.header {
  color: orange;
  margin-left: 35px;
  font-size: 2.2rem;
  font-weight: normal;
}

.btn-login {
  margin-right: 35px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  background-color: orange;
  color: purple;
}
